<?php /* COLOR SCHEME TEST "MonokaiFree/MonokaiFree.tmTheme" SKIP IF NOT "Laravel Blade Highlighter/blade"

    Tests for Laravel Blade Highlighter package:
    https://packagecontrol.io/packages/Laravel%20Blade%20Highlighter.

 */

?>

<!-- comment -->
<!-- ^ fg=#75715e fs= -->

{{-- comment --}}
<!-- ^ fg=#75715e fs= -->

.... {{ $name }}
<!-- ^^ fg=#66d9ef fs= -->
<!--    ^^^^^ fg=#f8f8f2 fs= -->
<!--          ^^ fg=#66d9ef fs= -->

.... {!! $name !!}
<!-- ^^^ fg=#66d9ef fs= -->
<!--     ^^^^^ fg=#f8f8f2 fs= -->
<!--           ^^^ fg=#66d9ef fs= -->

.... {{{ $name }}}
<!-- ^^^ fg=#66d9ef fs= -->
<!--     ^^^^^ fg=#f8f8f2 fs= -->
<!--           ^^^ fg=#66d9ef fs= -->

. {{ time() }}
<!-- ^^^^ fg=#66d9ef fs= -->
<!--     ^^ fg=#f8f8f2 fs= -->

. {{ route() }}
<!-- ^^^^^^^ fg=#f8f8f2 fs= -->

. {{ route('str') }}
<!-- ^^^^^^ fg=#f8f8f2 fs= -->
<!--       ^^^^^ fg=#e6db74 fs= -->
<!--            ^ fg=#f8f8f2 fs= -->

<a href="{{ route('login') }}">x</a>
<!--     ^^ fg=#66d9ef fs= -->
<!--        ^^^^^^ fg=#f8f8f2 fs= -->
<!--              ^^^^^^^ fg=#e6db74 fs= -->
<!--                     ^ fg=#f8f8f2 fs= -->
<!--                       ^^ fg=#66d9ef fs= -->

.... @custom_directive()
<!-- ^^^^^^^^^^^^^^^^^ fg=#66d9ef fs= -->
<!--                  ^^ fg=#f8f8f2 fs= -->

.... {{ isset($name) ? $name : 'Default' }}
<!-- ^^ fg=#66d9ef fs= -->
<!--    ^^^^^ fg=#66d9ef fs= -->
<!--         ^^^^^^^ fg=#f8f8f2 fs= -->
<!--                 ^ fg=#f92672 fs= -->
<!--                         ^ fg=#f92672 fs= -->
<!--                           ^^^^^^^^^ fg=#e6db74 fs= -->
<!--                                     ^^ fg=#66d9ef fs= -->

.... @{{ raw }}
<!-- ^^^ fg=#66d9ef fs= -->
<!--     ^^^ fg=#f8f8f2 fs= -->
<!--         ^^ fg=#66d9ef fs= -->

     <?php echo $name; ?>
<!-- ^^^^^ fg=#66d9ef fs= -->
<!--       ^^^^ fg=#66d9ef fs= -->
<!--            ^^^^^ fg=#f8f8f2 fs= -->
<!--                 ^ fg=#f92672 fs= -->
<!--                   ^^ fg=#66d9ef fs= -->

     <?= $name; ?>
<!-- ^^^ fg=#66d9ef fs= -->
<!--     ^^^^^ fg=#f8f8f2 fs= -->
<!--          ^ fg=#f92672 fs= -->
<!--            ^^ fg=#66d9ef fs= -->

     @include('x')
<!-- ^ fg=#f8f8f2 fs= -->
<!--  ^ fg=#f8f8f2 fs= -->
<!--         ^ fg=#f8f8f2 fs= -->
<!--          ^^^ fg=#e6db74 fs= -->
<!--             ^ fg=#f8f8f2 fs= -->

     @inject('x', 'A\B')
<!-- ^ fg=#f8f8f2 fs= -->
<!--  ^^^^^^ fg=#f8f8f2 fs= -->
<!--        ^ fg=#f8f8f2 fs= -->
<!--         ^^^ fg=#e6db74 fs= -->
<!--            ^ fg=#f8f8f2 fs= -->
<!--              ^^^^^ fg=#e6db74 fs= -->
<!--                   ^ fg=#f8f8f2 fs= -->

    @php
//  ^^^^ fg=#f92672 fs=
        echo 'x';
     @endphp
<!-- ^^^^^^^ fg=#f92672 fs= -->

     @php(x())
<!-- ^ fg=#f8f8f2 fs= -->
<!--  ^^^ fg=#f8f8f2 fs= -->
<!--     ^^^^^ fg=#f8f8f2 fs= -->

        @hasSection('title')
<!--    ^ fg=#f8f8f2 fs= -->
<!--     ^ fg=#f8f8f2 fs= -->
            @yield('title') - App Name
<!--        ^ fg=#f8f8f2 fs= -->
<!--         ^ fg=#f8f8f2 fs= -->
        @else
<!--    ^ fg=#f8f8f2 fs= -->
<!--     ^ fg=#f8f8f2 fs= -->
            App Name
        @endif
<!--    ^ fg=#f8f8f2 fs= -->
<!--     ^ fg=#f8f8f2 fs= -->

        @section('sidebar')
<!--    ^ fg=#f8f8f2 fs= -->
<!--     ^ fg=#f8f8f2 fs= -->
            This is the master sidebar.
        @stop
<!--    ^ fg=#f8f8f2 fs= -->
<!--     ^ fg=#f8f8f2 fs= -->

        @extends('layouts.master')
<!--    ^ fg=#f8f8f2 fs= -->
<!--     ^ fg=#f8f8f2 fs= -->

<ul class="list @if (count($records) === 1) extra-class @endif">
<!--            ^ fg=#f8f8f2 fs= -->
<!--             ^^ fg=#f8f8f2 fs= -->
<!--                                                    ^ fg=#f8f8f2 fs= -->
<!--                                                     ^^^^^ fg=#f8f8f2 fs= -->
    <li>This is the first item</li>
</ul>

        @isset($name)
<!--    ^ fg=#f8f8f2 fs= -->
<!--     ^ fg=#f8f8f2 fs= -->
            Hello, {{ $name }}.
        @endisset
<!--    ^ fg=#f8f8f2 fs= -->
<!--     ^ fg=#f8f8f2 fs= -->

        @unless (Auth::check())
<!--    ^ fg=#f8f8f2 fs= -->
<!--     ^ fg=#f8f8f2 fs= -->
            You are not signed in.
        @endunless
<!--    ^ fg=#f8f8f2 fs= -->
<!--     ^ fg=#f8f8f2 fs= -->
